<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://r2-pc/svn/myrepos/MyDevelopmentProject</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.CheckoutUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.datical.integration.jenkins.DaticalDBBuilder>
      <name>some name</name>
      <daticalProjectDir>C:\Users\r2\datical\MyDevelopmentProject</daticalProjectDir>
      <daticalDBServer>Integration Dev</daticalDBServer>
      <daticalDBAction>Forecast</daticalDBAction>
    </com.datical.integration.jenkins.DaticalDBBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>